body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a35e04;
    padding: 15px 50px;
    position:static;
}
.logo{
    display: flex;
    gap: 1px;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 1px;
    border-right: solid 70px #e0dddd;
}
h1{
    color: #015374cc;
    margin-left: -70px;
    font-size: 15px;


}

.navbar {
    display: flex;
    gap: 30px;
    padding: 15px;
    position: static;
}

.navbar a {
    color: white;
    text-decoration: none;
    
}

.navbar a:hover{
    color: blue;
}

.dropdown {
    position: relative;
    
}

.dropdown-menu {
    display: none;
    margin-top: 0; 
    position: absolute;
    top: 100%;
    left: 0;
    background: #a35e04;
    list-style: none;
    padding:  0;
    min-width: 160px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 9999;

}

.dropdown-menu li a {
    display: block;
    padding: 8px 15px;
    color: #fff;
     visibility: visible;
    
}

.dropdown-menu li :hover {
    background: #f0f0f0;
}

/* 🔥 AFFICHAGE AU SURVOL */
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    display: block;
    transform: translateY(0);
    pointer-events: auto;
   
        
        
}
.dropdown-menu::before{
    
    content: "";
    position: absolute;
    top: -10px; 
    left: 0;
    width: 100%;
    height: 10px;

}
.imgcontact{
    height:900px;
     width:100%;
     margin-left: 0.5rem;
     margin-right: 0.5rem;
     margin-top: 0.5rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    border: solid gray;
    border-width: 0.5px;
    border-radius: 20px;
    box-shadow: rgb(236, 229, 229) 5px 5px 15px 5px;

}
    
.div1 {
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
    grid-column-start: 5;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
    grid-column-start: 9;
}
        